section.about.clearfix
   .about__wrap
      .about_item__left 
         h5.title_over NEW DESIGN
         h1.title There is no other platforms 
            br
            | for you as like ...
         p.descriptions | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                  br
                  | vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur
                  br
                  | blandit tempus porttitor. Etiam porta sem malesuada magna mollis
                  br
                  | euismod. Vestibulum id ligula porta felis euismod semper.
         p.descriptions | Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Donec
                  br
                  | ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum
                  br
                  | nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
      .about_item__right
   