- var x = 3;
mixin feature
   - for (var i=1; i<=x; i++) 
      .features__item
         img.features__item_img(src="./img/feature1.png")
         h6.features__item_title Some awesone features
         p.descriptions 
            | Donec sed odio dui. Aenean lacinia bibendum
            br
            | nulla sed consectetur. Nulla vitae elit libero,
            br
            | a pharetra augue.
         
section.features
   .container
      h5.title_over NEW FEATURES
      h1.title Some awesone features
      .features__wrap
         +feature
         