footer.footer
   .container
      .footer__wrap
         .footer__item
            h2.footer__item_title Start Ex
            p.footer__item_desc
               | Aenean lacinia bibendum nulla sed
               br
               | consectetur. Aenean eu leo quam.
               br
               | USA & CAN: 1-888-123-4567
               br
               | Address: 34 Brokel Rd. NY
            
         .footer__item
            h2.footer__item_title Support
            h5.footer__item_txt
               a.footer__item_link Help Center
            h5.footer__item_txt
               a.footer__item_link Get Started
            h5.footer__item_txt
               a.footer__item_link Contact US
         .footer__item
            h2.footer__item_title About Us
            h5.footer__item_txt 
               a.footer__item_link About Us
            h5.footer__item_txt
               a.footer__item_link Terms of Use
            h5.footer__item_txt
               a.footer__item_link Privacy Policy
         .footer__item
            h2.footer__item_title Get Newsletter
            form.footer__form 
               input.footer__form_input(placeholder="Email" type="text")
               button.footer__form_btn
                  img(src="./img/arrow_icon.png" alt="")
            ul.footer__nav
               li.footer__nav_link
                  a(href="" class="footer__nav_item")
                     i.icon-social-github
               li.footer__nav_link
                  a(href="" class="footer__nav_item")
                     i.icon-social-facebook
               li.footer__nav_link
                  a(href="" class="footer__nav_item")
                     i.icon-social-google
               li.footer__nav_link
                  a(href="" class="footer__nav_item")
                     i.icon-social-twitter
         