.header
   .container
      .home
         h1.home__title.animated.bounceInLeft  
            | There is no other platforms 
            br
            | for you as like
         a.home_link.animated.pulse
         br
         button.btn.animated.bounceInRight try now
         
         