section.mail
   .container
      h5.title_over NEW FEATURES
      h1.title.mail__color Over 1000 designers are using ...
      .mail__wrap
         form.mail__form
            input.mail__form_item(placeholder="full name" type="text")
            input.mail__form_item(placeholder="Your Email" type="text")
            input.mail__form_item(placeholder="password" type="text")
            input.mail__form_item(type="button" value="TRy now")    
      p.mail__desc By Signing up you agree to our terms & Services.
      