section.someNews
   .container
      .someNews__wrap
         h5.title_over NEW FEATURES
         h1.title Some awesone features
         p.descriptions
            | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            br 
            | Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.
            br
            | Etiasem malesuada magn. Vestibulum felis euismod semper.
      .someNews__img
         img(src="./img/window.png" alt="")