doctype html
html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title Portfolio
      link(rel="stylesheet", href="css/animate.css")
      link(rel="stylesheet", href="css/reset.css")
      link(rel="stylesheet", href="css/simple-line-icons/css/simple-line-icons.css")
      //link(rel="stylesheet", type="text/css", href="css/slick.css")
      //link(rel="stylesheet", type="text/css", href="css/slick-theme.css")
      link(rel="stylesheet", href="css/main.css")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      
   body
      .wrapper
         include _header
         include _about
         include _features
         include _design
         include _team
         include _someNews
         include _mail
         include _footer
         
//      script(src="js/slick/slick.min.js")
//      script(src="js/common.js")
//      script(src="js/slick.js")
//   
      
      